.env
.venv/
venv/
__pycache__/
*.pyc
.idea/
.vscode/

uploads/*
!uploads/.gitkeep

logs/
.pytest_cache/
.coverage
htmlcov/
*.log

.env.docker
docker-data/
*.zip
.DS_Store
.testenv/
test-results/
playwright-report/
